In [329]:
import pandas as pd
from pathlib import Path

schools_data_file = Path("C:\\Users\\lmartinez\\Documents\\mygithub\\pandas-challenge\\Starter_Code\\PyCitySchools\\Resources\\schools_complete.csv")
students_data_file = Path("C:\\Users\\lmartinez\\Documents\\mygithub\\pandas-challenge\\Starter_Code\\PyCitySchools\\Resources\\students_complete.csv")

schools_data = pd.read_csv(schools_data_file)
students_data = pd.read_csv(students_data_file)

school_data_combined = pd.merge(schools_data, students_data, how='outer', on='school_name')
school_data_combined.head()

,School ID,school_name,type,size,budget,Student ID,student_name,gender,grade,reading_score,math_score
0,0,Huang High School,District,2917,1910635,0,Paul Bradley,M,9th,66,79
1,0,Huang High School,District,2917,1910635,1,Victor Smith,M,12th,94,61
2,0,Huang High School,District,2917,1910635,2,Kevin Rodriguez,M,12th,90,60
3,0,Huang High School,District,2917,1910635,3,Dr. Richard Scott,M,12th,67,58
4,0,Huang High School,District,2917,1910635,4,Bonnie Ray,F,9th,97,84

In [330]:
data_types = school_data_combined.dtypes
print(data_types)

School ID         int64
school_name      object
type             object
size              int64
budget            int64
Student ID        int64
student_name     object
gender           object
grade            object
reading_score     int64
math_score        int64
dtype: object

In [331]:
#Names of Schools
school_unique_names = school_data_combined['school_name'].unique()
print(school_unique_names)

['Huang High School' 'Figueroa High School' 'Shelton High School'
 'Hernandez High School' 'Griffin High School' 'Wilson High School'
 'Cabrera High School' 'Bailey High School' 'Holden High School'
 'Pena High School' 'Wright High School' 'Rodriguez High School'
 'Johnson High School' 'Ford High School' 'Thomas High School']

In [332]:
#Total Schools
total_schools = school_data_combined['school_name'].nunique()
print(total_schools)

15

In [333]:
# Unique Names
students_unique_names = school_data_combined['student_name'].unique()
print(students_unique_names)

['Paul Bradley' 'Victor Smith' 'Kevin Rodriguez' ... 'Rebecca Tanner'
 'Desiree Kidd' 'Carolyn Jackson']

In [334]:
# Total Students
total_students = school_data_combined["student_name"].count()
print(total_students)

39170

In [335]:
# Total Budget all Schools
total_school_budget = schools_data['budget'].sum()
print(total_school_budget)

24649428

In [336]:
#AVG Math score
avg_math_score = school_data_combined['math_score'].mean()
print(avg_math_score)

78.98537145774827

In [337]:
#AVG Reading score
avg_reading_score = school_data_combined['reading_score'].mean()
print(avg_reading_score)

81.87784018381414

In [338]:
#PCT Studends passing Math
passing_math_count = school_data_combined[(school_data_combined["math_score"] >= 70)].count()["student_name"]
passing_math_pct = passing_math_count / total_students * 100
passing_math_pct

74.9808526933878

In [339]:
#PCT Studends passing Reading
passing_reading_count = school_data_combined[(school_data_combined["reading_score"] >= 70)].count()["student_name"]
passing_reading_pct = passing_reading_count / total_students * 100
passing_reading_pct

85.80546336482001

In [340]:
#PCT of Students that passed Math and Reading
passing_math_reading_count = school_data_combined[(school_data_combined["math_score"] >= 70) & (school_data_combined["reading_score"] >= 70)].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  total_students * 100
overall_passing_rate

65.17232575950983

In [404]:
# Create a high-level snapshot of the district's key metrics in a DataFrame
district_summary = pd.DataFrame({
    "Total Schools":[total_schools],
    "Total Students":[total_students],
    "Total Budget":[total_school_budget],
    "Average Math Score":[avg_math_score],
    "Average Reading Score":[avg_reading_score],
    "% Passing Math":[avg_reading_score],
    "% Passing Reading":[passing_math_pct],
    "% Overall Passing":[passing_reading_pct]})
district_summary 

 # Formatting
# district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
# district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)

# # Display the DataFrame

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.985371,81.87784,81.87784,74.980853,85.805463

In [405]:
#
school_types = school_data_combined['type'].unique()
print(school_types)

['District' 'Charter']

In [406]:
#Students per School
students_per_school = school_data_combined.groupby("school_name")["Student ID"].count()
#students_per_school.head(15)
print(students_per_school)

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: Student ID, dtype: int64

In [407]:
#Calculate Total School Budget and Per Capita Spending
per_school_budget = schools_data.groupby("school_name")["budget"].sum()

#Per Capita Spending
per_school_capita = per_school_budget / students_per_school
print(per_school_capita)

school_name
Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [408]:
# Calculate the average test scores per school

per_school_math = school_data_combined.groupby("school_name")["math_score"].mean()
print(per_school_math)

per_school_reading = school_data_combined.groupby("school_name")["reading_score"].mean()
print(per_school_reading)

# per_school_reading =

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64
school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [409]:
# Students per School with Passing Score in Math:
students_passing_math = school_data_combined[school_data_combined['math_score'] >= 70]
school_students_passing_math = students_passing_math.groupby("school_name")["Student ID"].count()
print(school_students_passing_math)

school_name
Bailey High School       3318
Cabrera High School      1749
Figueroa High School     1946
Ford High School         1871
Griffin High School      1371
Hernandez High School    3094
Holden High School        395
Huang High School        1916
Johnson High School      3145
Pena High School          910
Rodriguez High School    2654
Shelton High School      1653
Thomas High School       1525
Wilson High School       2143
Wright High School       1680
Name: Student ID, dtype: int64

In [410]:
# Students per School with Passing Score in Math:
students_passing_reading = school_data_combined[school_data_combined['reading_score'] >= 70]
school_students_passing_reading = students_passing_reading.groupby("school_name")["Student ID"].count()
print(school_students_passing_reading)

school_name
Bailey High School       4077
Cabrera High School      1803
Figueroa High School     2381
Ford High School         2172
Griffin High School      1426
Hernandez High School    3748
Holden High School        411
Huang High School        2372
Johnson High School      3867
Pena High School          923
Rodriguez High School    3208
Shelton High School      1688
Thomas High School       1591
Wilson High School       2204
Wright High School       1739
Name: Student ID, dtype: int64

In [411]:
# Use the provided code to calculate the number of students per school that passed both math and reading with scores of 70 or higher
students_passing_math_and_reading = school_data_combined[(school_data_combined["reading_score"] >= 70) & (school_data_combined["math_score"] >= 70)]
school_students_passing_math_and_reading = students_passing_math_and_reading.groupby(["school_name"]).size()

In [423]:
# Use the provided code to calculate the passing rates
per_school_passing_math = school_students_passing_math / students_per_school * 100
per_school_passing_reading = school_students_passing_reading / students_per_school * 100
overall_passing_rate = school_students_passing_math_and_reading / students_per_school * 100
print(per_school_passing_math)

school_name
Bailey High School       66.680064
Cabrera High School      94.133477
Figueroa High School     65.988471
Ford High School         68.309602
Griffin High School      93.392371
Hernandez High School    66.752967
Holden High School       92.505855
Huang High School        65.683922
Johnson High School      66.057551
Pena High School         94.594595
Rodriguez High School    66.366592
Shelton High School      93.867121
Thomas High School       93.272171
Wilson High School       93.867718
Wright High School       93.333333
Name: Student ID, dtype: float64

In [431]:
len(students_passing_math)

15

In [414]:
school_types = schools_data.set_index(["school_name"])["type"]

In [435]:
per_school_summary = pd.DataFrame(
    "Schools":  school_unique_names ,
    "School Type":  school_types ,
    "Total Students":  students_per_school ,
    "Total School Budget":  per_school_budget ,
    "Per Student Budget":  per_school_capita ,
    "Average Math Score":  students_passing_math ,
    "Average Reading Score":  students_passing_reading ,
    "% Passing Math":  per_school_passing_math ,
    "% Passing Reading":  per_school_passing_reading ,
    "% Overall Passing":  overall_passing_rate )

# per_school_summary = pd.DataFrame({
#     "Schools": [school_unique_names],
#     "School Type": [school_types],
#     "Total Students": [students_per_school],
#     "Total School Budget": [per_school_budget],
#     "Per Student Budget": [per_school_capita],
#     "Average Math Score": [students_passing_math],
#     "Average Reading Score": [students_passing_reading],
#     "% Passing Math": [per_school_passing_math],
#     "% Passing Reading": [per_school_passing_reading],
#     "% Overall Passing": [overall_passing_rate]})

# per_school_summary = pd.DataFrame({
#     "Schools": school_unique_names,
#     "School Type": school_types  ,
#     "Total Students": total_students  ,
#     "Total School Budget": total_school_budget  ,
#     "Per Student Budget": per_school_capita  ,
#     "Average Math Score": avg_math_score  ,
#     "Average Reading Score": avg_reading_score  ,
#     "% Passing Math": avg_reading_score  ,
#     "% Passing Reading": passing_math_pct  ,
#     "% Overall Passing": passing_reading_pct  })

per_school_summary

SyntaxError: invalid syntax (1465561905.py, line 2)